#plane{
    height: 400px;
}

.brick{
    margin-left: 25px;
    position: absolute;
    width: 109px;
    height: 20px;
    background-color: #002B5B;
    /* left: 50px;
    bottom: 50px; */
}

.user{
    margin-left: 25px;
    position: absolute;
    width: 109px;
    height: 20px;
    background-color: #A10035;
    /* left: 50px;
    bottom: 50px; */
}

.ball{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #ff6600;
    position: absolute;
}

