@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans&display=swap');

body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    background-color: #256D85;
}

.form{
    background-color: #F5E8C7;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,.8);
    border-radius: 10px;
    margin: 10px;
}

.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 30px;
    text-align:center;
    padding: 10px;
    border:solid 4px black ;
    color:rgb(0, 75, 25);
}

.input::placeholder{
    color:#2B4865;
    font-family: 'Inter', sans-serif;
}

.btn{
    background-color: #256D85;
    color: white;
    border: none;
    display: block;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.5);
    position: relative;
    overflow: hidden;


}

/* Ripple effect */
.btn span{
    position: relative;
    z-index: 1;
}

.btn::before{
    content: "";
    position: absolute;
    background-color: orangered;
    width: 0;
    height: 0;
    /* left: 50%; */
    left: var(--xPos);
    /* top: 50%; */
    top: var(--yPos);
    transform: translate(-50%,-50%);
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;

}

.btn:hover::before{
    width: 800px;
    height: 300px;
}

/* .btn:hover{
    filter:brightness(0.6);
} */

.score{
    color:#256D85;
    text-align: right;
}